<!DOCTYPE html>
<html>
<head>
    <title>FriendsDrinks</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <h1>Hi <%= firstName %>!</h1>
    <nav>
        <a href="/">Home</a>
    </nav>
</header>

<section>
    <p><%= name %></p>
    <h2>Members</h2>
    <ul>
        <% for (let i = 0; i < members.length; i++) {
        let displayedName = members[i].firstName + " " + members[i].lastName;
        if (members[i].userId === userId) {
        displayedName = displayedName + " (you)"
        }
        %>
        <li><%= displayedName %></li>
        <% } %>
    </ul>

    <h2>Meetups</h2>
    <ul>
        <% for (let i = 0; i < meetups.length; i++) { %>
        <li><%= meetups[i].date %></li>
        <% } %>
    </ul>

    <form action = "/friendsdrinks/inviteUser/<%= friendsDrinksId %>" method = "POST">
        <div>
            <label>UserId</label>
            <input type = "text" name = "userId" required="required"> <br>
        </div>
        <input type = "submit" value = "Invite friend!">
    </form>
</section>

<% if (isAdmin) { %>
</section>
<form action = "/friendsdrinks/delete/<%= friendsDrinksId %>" method = "POST">
    <input type = "submit" value = "Delete!">
</form>
<section>
<% } %>

</section>
<form action = "/friendsdrinks/schedule/<%= friendsDrinksId %>" method = "POST">
    <input type = "submit" value = "Schedule a meetup!">
</form>
<section>


</body>
</html>
