<!DOCTYPE html>
<html>
<head>
    <title>FriendsDrinks</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
    <header>
        <a href="/logout">Logout</a>
    </header>
    <section>
        <h1>Welcome <%= username %>! FriendsDrinks lets you schedule drinks with your friends!</h1>
        <table>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Friends</th>
          </tr>
            <% for (var i = 0; i < adminFriendsDrinks.length; i++) { %>
              <tr>
                <td><%= adminFriendsDrinks[i].id %></td>
                <td><%= adminFriendsDrinks[i].name %></td>
                <td><%= adminFriendsDrinks[i].friends %></td>
              </tr>
           <% } %>
        </table>
        <form action = "/friendsdrinks" method = "POST">
            <div>
                <label>Name</label>
                <input type = "text" name = "name"> <br>
            </div>
            <div>
                <label>Friend</label>
                <input type = "text" name = "friend"> <br>
            </div>
            <input type = "submit" value = "Create!">
        </form>
        <form action = "/deletefriendsdrinks" method = "POST">
            <div>
                <label>ID</label>
                <input type = "text" name = "id"> <br>
            </div>
            <input type = "submit" value = "Delete!">
        </form>
        <table>
          <tr>
            <th>Name</th>
            <th>Friends</th>
          </tr>
            <% for (var i = 0; i < memberFriendsDrinks.length; i++) { %>
              <tr>
                <td><%= memberFriendsDrinks[i].name %></td>
                <td><%= memberFriendsDrinks[i].friends %></td>
              </tr>
           <% } %>
        </table>
    </section>
    </div>
</body>
</html>